{% extends 'base.html' %}

{% block content %}
<h2>Category: {{ category.name }}</h2>

{% if products %}
<div class="product-grid">
    {% for product in products.object_list %}
    <div class="card">
        <img class="card-img" src="{{ product.image.url }}" alt="{{ product.name }}">
        <div class="card-content">
            <h5 class="card-name">{{ product.name }}</h5>
            <p class="card-price">${{ product.price }}</p>
            <a href="{{ product.get_absolute_url }}" class="btn-buy">Buy Now</a>
        </div>
    </div>
    {% endfor %}
</div>

<!-- Pagination -->
<div class="pagination-container">
    <ul class="pagination">
        {% if products.has_previous %}
        <li><a href="?page={{ products.previous_page_number }}">Previous</a></li>
        <li><a href="?page={{ products.previous_page_number }}">{{ products.previous_page_number }}</a></li>
        {% endif %}
        <li><a href="?page={{ products.number }}">{{ products.number }}</a></li>
        {% if products.has_next %}
        <li><a href="?page={{ products.next_page_number }}">{{ products.next_page_number }}</a></li>
        <li><a href="?page={{ products.next_page_number }}">Next</a></li>
        {% endif %}
    </ul>
</div>
{% else %}
<div class="no-products">
    <h3>No Products in this Category..!</h3>
</div>
{% endif %}
{% endblock %}