{% extends "base.html" %}
{% load crispy_forms_tags %}
{% block content %}
    <div class="password-reset-container">
        <form method="POST" class="password-reset-form">
            {% csrf_token %}
            <h3 class="password-reset-title">Reset Password</h3>
            <hr class="password-reset-divider">
            <p class="password-reset-instruction">Please enter your email that you used in your account.</p>
            {{ form|crispy }}
            <div class="form-group">
                <button class="btn-request-reset" type="submit">Request Password Reset</button>
            </div>
        </form>
    </div>
{% endblock %}