{% extends "base.html" %}
{% load crispy_forms_tags %}
{% block content %}
    <div class="password-reset-container">
        <form method="POST" class="password-reset-form">
            {% csrf_token %}
            <h3 class="password-reset-title">Reset Password</h3>
            <hr class="password-reset-divider">
            {{ form|crispy }}
            <div class="form-group">
                <button class="btn-reset-password" type="submit">Reset Password</button>
            </div>
        </form>
    </div>
{% endblock %}