{% extends "base.html" %}

{% block content %}
<div class="spacer"></div>
<div class="cart-container">
    <table class="cart-table">
        <thead class="cart-table-header">
            <tr>
                <th scope="col">Pid</th>
                <th scope="col">Thumbnail</th>
                <th scope="col">Product</th>
                <th scope="col">Price</th>
                <th scope="col">Quantity</th>
                <th scope="col">Total Price</th>
                <th scope="col">Action</th>
            </tr>
        </thead>
        <tbody id="cart-items">
            <!-- Cart Items will be dynamically added using JavaScript -->
        </tbody>
    </table>
    <hr>
    <a href="{% url 'orders:create_order' %}" class="checkout-btn">Checkout</a>
    <h4 class="cart-total"><span class="text-muted">Total:</span> $<span id="cart-total">0.00</span></h4>
</div>
<div class="spacer"></div>
{% endblock %}

